on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on init
    start servicemanager

service servicemanager /system/bin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

service vendor.qti.vibrator /vendor/bin/hw/vendor.qti.hardware.vibrator.service
    class default
    user system
    group system input
    seclabel u:r:recovery:s0
